$font-main: "Poppins";
$color-accent: #ffff00;
$color-success: #0fbb0f;
$color-dark-primary: #0f0e07;
$color-light-primary: #e7dfe4;

@mixin custom-scrollbar {
  scrollbar-color: $color-accent $color-dark-primary;
  scrollbar-width: thin;
  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background-color: $color-dark-primary;
  }

  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background-color: $color-dark-primary;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: $color-accent;
  }
}
